.buttonJoinHeader {
    color: white;
    border: 0.1rem solid white;
    margin-top: 26rem;
    margin-left: 36rem;
    margin-right: 37rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
    	background: white;
    	color: black; 
    }
}

.butttonDown {
	border: 0.1rem solid white; 
    border-radius: 50rem;
    background: white;
    box-shadow: 0rem 0.9rem 2rem 0rem rgba(0, 0, 0, 0.39);
    position: absolute;
    margin-left: 40rem;
    margin-top: 22rem;
    width: 4rem;
    height: 4rem;

	&:hover {
		border: 0.1rem solid white;
		background: none;

  }
}

.buttonLoveTripIcon {
	margin-left: 3rem;
    border: 1.5rem solid yellow;
    background: yellow;
    border-radius: 1rem;
    margin-bottom: 2rem;

    &:hover {
		border: 1.5rem solid white;
		background: none;
	}
}