// Header helpers 
ul > li {
	 margin-left: 1.9rem;
}

.headerNav > ul > li {
	margin-top: 4rem;
}

.footerNav > ul > li {
	margin-top: 15rem; 
}

.footerImg .test {
	//color: white;
	text-alight: center;
	margin-top: 10rem;
}