// ------------------------
// Typography
// ------------------------
// font-size: 16px = 1rem;
// ------------------------

body {
	margin: 0rem;
	padding: 0rem;
}


a {
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
    border-bottom: 0.1rem solid white;
  }
}

span {
	color: white;
}

.textTrip {
	font-size: 2rem;
  	font-family: "Ubuntu";
  	color: white;
  	text-align: center;
  	position: absolute;
  	margin-left: 33rem;
  	margin-top: 16rem;
  	z-index: 16rem;

}

.textWorld {
	font-size: 5.6rem;
	font-family: "Forte";
	color: white;
	position: absolute;
	margin-left: 19rem;
	margin-top: 18rem;
	transform-origin: bottom center;
}

.textDiscover {
	margin-left: 36.5rem;
	padding-top: 3.5rem;
	font-family: "Ubuntu";
	font-weight: bold;
  	color: rgb(37, 45, 43);
}

.textDiscoverText {
	margin-left: 36.5rem;
	margin-right: 3rem;
	font-family: "Ubuntu";
  	color: rgb(37, 45, 43);
}

.makeFriends {
	margin-top: -11rem;
}

.textMakeFriends {
	padding-top: 5rem;
	margin-left: -32rem;
	font-family: "Ubuntu";
	font-weight: bold;
  	color: rgb(37, 45, 43);
}

.textMakeFriendsText {
	margin-left: -32rem;
	font-family: "Ubuntu";
  	color: rgb(37, 45, 43);
}

.tripHeader {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 4rem
}

.loveTrip {
	margin-left: 3rem; 
	display: flex;
	text-align: center;
	font-family: "Ubuntu";
  	color: rgb(37, 45, 43);
}

.loveTripHeader {
	font-weight: bold;
	margin-left: 3rem; 
}

.loveTripText {
	margin-top: 1rem;
	margin-left: 3rem; 	
}

.textFind {
	font-size: 5.6rem;
	font-family: "Forte";
	color: white;
	position: absolute;
	margin-left: 19rem;
	margin-top: 18rem;
	transform-origin: bottom center;
}

.placeHeader {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.placeDots {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

.placeDotsText {
	text-align: center;
	font-family: "Ubuntu";
  	color: rgb(37, 45, 43);
}