

// Indents updated
// --------------------------------------------------
$containerHorIndent: 11.5rem;
$containerVerIndent: 10rem;

// Indents updated
// --------------------------------------------------
$containerHorIndentMobile: 3%;
$containerVerIndentMobile: 4rem;
