// ----------------
// Home page style
// ----------------

@import"../global";

.headerImg {
	height: 63rem;
	background: url("../../img/headerImg.jpg") no-repeat center center ;
}

.discoverImg {
	margin-left: 12.5rem;
	height: 36rem;
	background: url("../../img/aboutTripImgOne.jpg") no-repeat;
	background-size: 30rem;
}

.makeFriendsImg {
	margin-left: 42.5rem;
	height: 32rem;
	background: url("../../img/aboutTirpImgTwo.jpg") no-repeat;
	background-size: 30rem
}

.findImg {
	height: 40rem;
	background: url("../../img/inspiration.jpg") no-repeat center center;
}

.placesMapImg {
	height: 40rem;
	background: url("../../img/places.jpg") no-repeat center center;
}

.footerImg {
	height: 31rem;
	background: url("../../img/footer.jpg") no-repeat center center;
}


.galen_crout_78522__1_ {
  background-image: url("galen-crout-78522 (1).png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 1021px;
  z-index: 10;
}
