// ----------------
// Home page style
// ----------------

@import"../global";

body {
	width: 84rem;
}

.headerImg {
	height: 63rem;
	background: url("../../img/headerImg.jpg") no-repeat center center ;
}

.discover {
	margin-top: 10rem;
}

.discoverImg {
	margin-left: 12.5rem;
	height: 36rem;
	background: url("../../img/aboutTripImgOne.jpg") no-repeat;
	background-size: 30rem;
}

.makeFriendsImg {
	margin-left: 42.5rem;
	height: 32rem;
	background: url("../../img/aboutTirpImgTwo.jpg") no-repeat;
	background-size: 30rem
}

.findImg {
	height: 40rem;
	background: url("../../img/inspiration.jpg") no-repeat center center;
}

.placesMapImg {
	height: 40rem;
	background: url("../../img/places.jpg") no-repeat center center;
}

.footerImg {
	height: 31rem;
	background: url("../../img/footer.jpg") no-repeat center center;
}
