// ----------------
// Home page style
// ----------------

@import"../global";

.headerImg {
	height: 63rem;
	background: url("../../img/headerImg.jpg") no-repeat center center ;
	//background-size: cover;
}

.discoverImg {
	height: 36rem;
	background: url("../../img/aboutTripImgOne.jpg") no-repeat;
	background-size: 30rem;
}

.makeFriendsImg {
	height: 32rem;
	background: url("../../img/aboutTirpImgTwo.jpg") no-repeat;
	background-size: 30rem
}

.findImg {
	height: 40rem;
	background: url("../../img/inspiration.jpg") no-repeat center center;
}

.placesMapImg {
	height: 40rem;
	background: url("../../img/places.jpg") no-repeat center center;
}

.footerImg {
	height: 31rem;
	background: url("../../img/footer.jpg") no-repeat center center;
}